
<div class="row">
    <div class="col-md-6">
<%= form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :video %><br>
    <%= f.file_field :video %>
  </div>
  <div class="form-group">
    <%= f.submit '更新视频' , :class => 'btn btn-success' %>
  </div>
<% end %>
    </div>
</div>
