<div class="row">
<h1>Media Library
    <small><%= link_to 'New Medium', new_medium_path , :class => 'btn btn-primary' %></small>

</h1>


    <% @media.each do |medium| %>
    <div class="col-md-4">
    <div class="panel">
        <div class="panel-body">
        <h3><%= medium.subject %></h3>
        <small><%= medium.description %></small>

          <video width="330" height="240"  poster="poster.jpg" controls="controls" preload=true>
            <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
            <source type="video/mp4" src="<%= medium.video.url %>" />
            <!--<track kind="subtitles" src="subtitles.srt" srclang="en" />-->
            <!--<track kind="chapters" src="chapters.srt" srclang="en" />-->
            <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
            <object height="350" type="application/x-shockwave-flash" data="flashmediaelement.swf">
              <param name="movie" value="flashmediaelement.swf" />
              <param name="flashvars" value="controls=true&file=<%= medium.video.url %>" />
              <!-- Image as a last resort -->
              <img src="myvideo.jpg" width="320" height="240" title="No video playback capabilities" />
            </object>
          </video>

        <%= link_to 'Show', medium %>
        <%= link_to 'Edit', edit_medium_path(medium) %>
        <%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
    </div>
    <% end %>

</div>

<script>
    $('video').mediaelementplayer({
        features: ['playpause','loop','current','progress','duration','volume' , 'fullscreen']

    });
</script>