<div class="row">

<div class="col-md-6">
    <div class="panel"><div class="panel-body">
        <h3>视频</h3>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Subject:</strong>
      <%= @medium.subject %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @medium.description %>
    </p>

    <p>
      <strong>Video:</strong>
      <%= video_player(flashvars={:file => @medium.video.url , :image => nil }, attributes={:id => @medium.id , :name => 'media_player' , :width => '100%' , :height => '300px' , :message => 'Thanks for watching'}, params={}) %>

    </p>

    <%= link_to 'Edit', edit_medium_path(@medium) %> |
    <%= link_to 'Back', media_path %>
    </div></div>
</div>

<div class="col-md-6">

    <div class="panel">
    <div class="panel-body">
        <h3>建议</h3>

        <%= form_for @comment , :url => url_for(:controller => '/media' , :action => 'comment' , :id => @medium.id) , :method => 'post' do |f| %>

        <div class="form-group">
            <%= f.text_area :comment , :class => 'form-control'%>
        </div>

        <div class="form-group">
            <%=f.submit '发建议' , :class => 'btn btn-primary'%>
        </div>

        <% @medium.comment.order(:id => :desc).each do |c| %>
            <p><%= c.comment %></p>
        <% end %>

        <% end %>

    </div>
    </div>

</div>
</div>
